<!-- <app-top-bar>
  
</app-top-bar> 
  <app-left-bar>
    
  </app-left-bar> 
  
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->

   
     <!-- <app-login (menu)='open($event)'>Your Form</app-login>
  
  <app-login [error]="'Username or password invalid'" 
             (menu)='open($event)'>
             Your Form With Error Message
  </app-login> -->
  <router-outlet></router-outlet>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->