<!-- <app-top-bar>
  
</app-top-bar> 
  <app-left-bar>
    
  </app-left-bar> 
  
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<body> 
  <div class="header">
    <app-top-bar>    
    </app-top-bar>
  </div>
<div class="sidenav">
    <app-left-bar>
    </app-left-bar>
</div>
<div class="main">
  <h2>Sidenav Example</h2>
  <p>This sidenav is always shown.</p>
</div>
   
</body>
<!-- <div class="container">  
  <router-outlet></router-outlet>
</div> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->