/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --PHS-Light-color: #1FC7B5;
  --PHS-Dark-color: #05878C;
  --PHS-Grey-color: #D8D8D8;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
   color:red;
}

h2 {
  font-size: 20px;
  color:red;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: Red;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  background-color: #1976d2;
  color: white;
  font-family: Merriweather; 
  font-weight: bold;
}

.button:hover, button:hover {
  opacity: 0.8;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: var(--PHS-Dark-color);
}

.fancy-button i.material-icons {
  color: var(--PHS-Dark-color);
  padding-right: 5px;
}

/* Top Bar */
app-top-bar {
  width: 100%;
  height: 60px;
  background-color: var(--PHS-Dark-color);
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 { 
  font-family: Merriweather; 
  font-size: 16pt;
  font-weight: bold;
  letter-spacing: 4pt;
  color: white;
  margin:0px;
  }
/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 2px;
  border-radius: 2px;
  background-color: #EEEEEE;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/