<div style="position: fixed; 
            width:60px;
            height:90%;
            border: 1px solid black;">

    <div style="position: absolute; 
                bottom: 0; 
                margin:5px;">
      <img src="https://cdn.jsdelivr.net/gh/JimDepoorter/test-solution@Dev/src/assets/PersonalHealthSolution.png" height="50" width="50">
    </div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->