<img src="https://cdn.jsdelivr.net/gh/JimDepoorter/test-solution@Dev/src/assets/PersonalHealthSolution.png" height="60" width="50">

<a [routerLink]="['/']">
  <h1>PERSONAL HEALTH SOLUTION</h1>
</a>

<a routerLink="/cart" class="button fancy-button">
  <i class="material-icons">account_circle</i>
  Jim Depoorter
</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->